<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1 class="side-2-side">#<%= villager.id %>: <%= villager.name['name-USen'] %></h1>
            <img class="icon-mini" src="<%= villager.icon_uri %>" alt="<%= villager.name['name-USen'] %>">
            <hr>
            <div class="image">
                <img src="<%= villager.image_uri %>" alt="<%= villager.name['name-USen'] %>">
            </div>

            <h2>
                Species: <%= villager.species %>
            </h2>
            <h3>
                Gender: <%= villager.gender %><br>
                <%= villager.name['name-USen'] %>'s Birthday: <%= villager['birthday-string']%>, (<%= villager.birthday %>)<br>
                Go-to Hobby: <%= villager.hobby %><br>
                Favorite Quote: "<%= villager.saying %>"<br>
                Catch-phrase: "<%= villager['catch-phrase'] %>"<br>
                Subtype (?): <%= villager.subtype %><br>


            </h3>
        </main>
    <%- include('../includes/end.ejs') %>